{% extends "layout.html" %}
    {% block title%}
        Home
    {% endblock %}

    {% block main %}
    
    <table class="table text-start" style="width:50%; margin-left:auto; margin-right:auto">
    <tr>
        <th>Category</th><th>Items</th>
    </tr>
        {% for category in categories %}
            <tr>
                <td>{{ category[0]}}</td>
                <td>{{ category[1]}}</td>
            </tr>
        {% endfor %}
    <tr>
        <th></th><th></th>
    </tr>
        <tr>
            <th>Location</th><th></th>
        </tr>

        {% for location in locations %}
            <tr>
                <td>{{ location[0]}}</td>
                <td>{{ location[1]}}</td>
            </tr>
        {% endfor %}
    </table>

    {% endblock %}

